body{
  background-color: #8A2BE2;
}

.container{
  background-color: #ffffff;
  margin: 0 auto;
  margin-top: 4%;
  width: 30%;
  height: 500px;
  border: 3px;
  border-radius: 1rem;
  padding: 10px;
}

.inside-components{
    margin-top: 1%;
}

.inside-components2{
    margin-top: 22%;
    margin-left: 1rem;
}

#login-img{
  width: 45%;
  margin-top: 10%;
  margin-left: 25%;
}

#login-text{
  margin-left: 40%;
}

#new-user{
  margin-left: 22%;
}

.user-login{
  margin-left: 23%;
}

.user-registration{
  margin-left: 20%;
}

.input-group{
  padding-top: 20px;
}

input{
  border-radius: 3px;
}

#returning-user{
  margin-left: 25%;
}

#new-user-text{
  margin-left: 30%;
}

/*buttons*/
.btn-info{
  margin-top: 6%;
  margin-left: 24%;
  width: 50%;
  height: 2em;
  background-color: #0FDDAF;
}
.btn-login{
  margin-top: 6%;
  margin-left: 1%;
  width: 7rem;
  height: 2em;
  background-color: #F08080;
}
.btn-signup{
  margin-top: 6%;
  margin-left: 20px;
  width: 7rem;
  height: 2em;
  background-color: #0FDDAF;
}

.btn-container{
  margin-top: 5%;
  margin-left: 18%;
  display: flex;
  flex-direction: row;
}

/*profile*/

.inside-components3{
    margin-top: 10%;
    margin-left: -2%;
}

.parent{
  position: relative;
  top: 0;
  left: 0;
}

#img1{
  position: relative;
  top: 0;
  left: 0;
  width: 105.5%;
  height: 13rem;
  margin-top: -15%;
  margin-left: -2.8%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}


#img2{
  position: absolute;
  top: 75px;
  left: 7.4rem;
  width: 40%;
  height: 8rem;
  margin-top: -25%;
  margin-left: -2.8%;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}


.tab1{
    text-align: center;
    padding-top: 2rem;
    margin: 0 auto;
    margin-top: -4.5px;
    margin-left: -.6rem;
    width: 105.4%;
    height: 3.1rem;
    background-color: #008C8C;
}
.tab2{
    text-align: center;
    padding-top: 2rem;
    margin: 0 auto;
    margin-top: 0px;
    margin-left: -.6rem;
    width: 105.4%;
    height: 3.1rem;
    background-color: pink;
}
.tab3{
    text-align: center;
    padding-top: 2rem;
    margin: 0 auto;
    margin-top: 0px;
    margin-left: -.6rem;
    width: 105.4%;
    height: 3.1rem;
    background-color: orange;
}
.tab4{
    text-align: center;
    padding-top: 2rem;
    margin: 0 auto;
    margin-top: 0px;
    margin-left: -.6rem;
    width: 105.4%;
    height: 3.1rem;
    background-color: brown;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
